# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# test report output
reports

# Editor stuff
.idea/*
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
